body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Suelo{
  border: #417217;
  height: 150px;
  width: 100%;
  background-color: #587e37;
  border: none;
}

.Fondo{
  background-color: #a4b892;
}

.register-box{
  border: 2px solid rgba(39, 112, 63, 0.651);
  color: #000000;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  height: 40%;
  width: 25%;
  background-color: #ffffff;
  border-radius: 5%;

}

.navegador{
  background-color: #f05c42;
}


.Fondo_container{
  background-color: #f7ffef;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.Container{
  margin-left: 5%;
  margin-right: 5%;
}

.button{
  background-color: #f51a0b;
}